<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark d-none d-lg-block" style="z-index: 2000;" th:fragment="navbar">
    <div class="container-fluid">
        <!-- Navbar brand -->
        <a class="navbar-brand nav-link" th:href="@{/}">
            <i class="fas fa-home fa-fw"></i>&nbsp;<strong>COOK EASY</strong>
        </a>
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
                aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarExample01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/users/login}">Login</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/users/register}">Register</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/recipes/add}"><i class="fas fa-hamburger"></i>&nbsp; Add new recipe</a>
                </li>
                <!-- Dropdown -->
                <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                    <a
                            class="nav-link dropdown-toggle"
                            id="navbarDropdown1"
                            role="button"
                            data-mdb-toggle="dropdown"
                            aria-expanded="false"
                    >
                        View collections
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <li><a class="dropdown-item" href="#"><i class="fas fa-user-plus"></i>&nbsp; Added recipes</a></li>
                        <li><a class="dropdown-item" href="#"><i class="far fa-thumbs-up"></i>&nbsp; Liked recipes</a></li>
                        <li><a class="dropdown-item" href="#"><i class="far fa-heart"></i>&nbsp; Saved recipes</a></li>
                        <li><a class="dropdown-item" href="#"><i class="fas fa-utensils"></i>&nbsp; Cooked recipes</a></li>
                    </ul>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/users/{id}/profile(id=${#authentication.principal.id})}"><i class="far fa-user"></i>&nbsp; Profile</a>
                </li>
                <!-- Dropdown -->
                <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                    <a
                            class="nav-link dropdown-toggle"
                            id="navbarDropdown2"
                            role="button"
                            data-mdb-toggle="dropdown"
                            aria-expanded="false"
                    >
                        Admin
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                        <li><a class="dropdown-item" th:href="@{/users}"><i class="fas fa-users"></i>&nbsp; Edit users</a></li>
                        <li><a class="dropdown-item" th:href="@{/comments}"><i class="far fa-comments"></i>&nbsp; Edit comments</a></li>
                        <li><a class="dropdown-item" href="#"><i class="fas fa-poll"></i>&nbsp; View request statistics</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/"><i class="fas fa-book"></i>&nbsp; About us</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/"><i class="fas fa-globe-europe"></i>&nbsp; Quote</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <form th:action="@{/users/logout}" th:method="POST">
                        <button type="submit" class="btn btn-block custom-transparent-btn">
                            Welcome,
                            <th:block th:utext="${#authentication.principal.genderEntity.genderNameEnum.name()} == 'MALE' ? 'Mr.' : 'Ms.'"></th:block>
                            <th:block th:text="${#authentication.principal.lastName}"></th:block>!
                            &nbsp; <i class="fas fa-sign-out-alt"></i>
                        </button>
                    </form>
                </li>
            </ul>

            <ul class="navbar-nav list-inline">
                <!-- Icons -->
                <li class="">
                    <a class="nav-link" href="https://www.youtube.com/user/CookEasyWebApp" rel="nofollow"
                       target="_blank">
                        <i class="fab fa-youtube"></i>
                    </a>
                </li>
                <li class="">
                    <a class="nav-link" href="https://www.facebook.com/CookEasyWebApp" rel="nofollow" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://twitter.com/CookEasyWebApp" rel="nofollow" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/KiaraLazarova/cook-easy" rel="nofollow" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>