<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head">
</head>

<body>
        <!--Main Navigation-->
    <header>
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-dark d-none d-lg-block" th:replace="fragments/navbar :: navbar">
      </nav>
      <!-- Navbar -->

      <!-- Background image -->
      <div id="introHalf" class="bg-image shadow-2-strong">
        <div class="mask">
          <div class="container d-flex justify-content-center align-items-center h-100">
            <div class="text-white text-center">
              <br>
              <br>
              <h1 class="mb-3">Edit comments</h1>
              <h5 class="mb-4">You want to update user roles or delete users? No problem - just click the button below.</h5>
              <a class="btn btn-outline-light btn-lg m-2" th:href="@{/users}" role="button">Edit users</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Background image -->
    </header>
    <!--Main Navigation-->

    <!--Main layout-->
    <main class="mt-5">
      <div class="container">
        <!--Section: Content-->
        <section class="text-center">
            <h5 class="text-center text-warning">
                <strong><u>IMPORTANT:</u></strong>
                Archived comments are automatically deleted on every 24 hours.
            </h5>
            <br>
            <br>
            <table class="table table-bordered border-dark table-striped align-middle">
                <thead>
                <tr>
                    <th scope="col" style="white-space: nowrap; overflow: hidden;">AUTHOR USERNAME</th>
                    <th scope="col" style="white-space: nowrap; overflow: hidden;">RECIPE TITLE</th>
                    <th scope="col" style="white-space: nowrap; overflow: hidden;">CREATED ON</th>
                    <th scope="col">CONTENT</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="viewModel : ${viewModels}" th:object="${viewModel}">
                    <th scope="row">@<th:block th:text="*{authorUsername}"></th:block></th>
                    <td th:text="*{recipeTitle}"></td>
                    <td style="white-space: nowrap; overflow: hidden;" th:text="*{createdOn}"></td>
                    <td class="custom-text-justify" th:text="*{content}" style="font-weight: normal"></td>
                    <td>
                        <form th:action="@{/comments/{id}/approve(id=*{id})}" th:method="patch">
                            <input th:attr="disabled=*{approved} ? 'disabled' : null" type="submit" class="btn btn-success btn-md px-3" value="Approve"/>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/comments/{id}/archive(id=*{id})}" th:method="patch">
                            <input th:attr="disabled=*{archived} ? 'disabled' : null" type="submit" class="btn btn-danger btn-md px-3" value="Archive"/>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </section>
      </div>
    </main>
    <!--Main layout-->

    <br>
    <br>
    <hr class="m-0" />

    <!--Footer-->
    <footer class="bg-light text-lg-start" th:replace="fragments/footer :: footer">
    </footer>
    <!--Footer-->

    <!-- MDB -->
    <script type="text/javascript" src="/js/mdb.min.js"></script>
</body>
</html>