<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head">
</head>

<body>
      <!--Main Navigation-->
  <header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark d-none d-lg-block" th:replace="fragments/navbar :: navbar">
    </nav>
    <!-- Navbar -->

    <!-- Carousel wrapper -->
    <div id="introCarousel" class="carousel slide carousel-fade shadow-2-strong" data-mdb-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-mdb-target="#introCarousel" data-mdb-slide-to="0" class="active"></li>
        <li data-mdb-target="#introCarousel" data-mdb-slide-to="1"></li>
        <li data-mdb-target="#introCarousel" data-mdb-slide-to="2"></li>
      </ol>

      <!-- Inner -->
      <div class="carousel-inner">
        <!-- Single item -->
        <div class="carousel-item active">
          <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
              <div class="text-white text-center">
                <h1 class="mb-3">Explore our web app and discover numerous great recipes</h1>
                <h5 class="mb-4">Best & free guide of crafty, easy and delicious recipes</h5>
                <a class="btn btn-outline-light btn-lg m-2" th:href="@{/users/login}"
                   role="button">Sign in</a>
                <a class="btn btn-outline-light btn-lg m-2" th:href="@{/about}"
                   role="button">More about us</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Single item -->
        <div class="carousel-item">
          <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
              <div class="text-white text-center">
                <h1>You don't have an account? Don't worry - it's completely free.</h1>
                <a class="btn btn-outline-light btn-lg m-2" th:href="@{/users/register}"
                   role="button">Sign up</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Single item -->
        <div class="carousel-item">
          <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
              <div class="text-white text-center">
                <h1>You want to add a delicious recipe? No problems - just click the button below.</h1>
                <a class="btn btn-outline-light btn-lg m-2"
                   th:href="@{/recipes/add}" role="button">Add new recipe</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Inner -->

      <!-- Controls -->
      <a class="carousel-control-prev" href="#introCarousel" role="button" data-mdb-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#introCarousel" role="button" data-mdb-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <!-- Carousel wrapper -->
  </header>
  <!--Main Navigation-->

  <!--Main layout-->
  <main class="mt-5">
    <div class="container">
      <!--Section: Content-->
      <section>
        <div class="row">
          <div class="col-md-6 gx-5 mt-4">
            <div class="bg-image hover-overlay ripple shadow-2-strong" data-mdb-ripple-color="light">
              <img th:src="@{/images/cook_easy_logo.jpg}" class="img-fluid" alt=""/>
              <a th:href="@{/about}">
                <div class="mask"></div>
              </a>
            </div>
          </div>

          <div class="col-md-6 gx-5 mb-4">
            <h4 class="text-center"><strong>Our story and mission in brief</strong></h4>
            <br>
            <p class="text-muted custom-text-justify">
              <i style="color: #9AD1E6;"><strong><u>Cook Easy</u></strong></i> is a web application for sharing a vast range of recipes. Its goal is to preserve traditional and not so traditional recipes and stimulate people's desire to consume more homemade food. It is clear from its name that cooking does not have to be difficult. In addition, the design is specifically made to be accessible, understandable and easy to navigate for the end user. This is why <strong style="color: #f58b8d;">"Cooking with <i style="color: #9AD1E6;"><u>Cook Easy</u></i> is TaStY, EaSY, IntEReStInG"</strong>.
            </p>
          </div>
        </div>
      </section>
      <!--Section: Content-->

      <hr class="my-5" />

      <!--Section: Content-->
      <section class="mb-5">
        <h4 class="mb-5 text-center"><strong>Sign in your awesome account</strong></h4>

        <div class="row d-flex justify-content-center">
          <div class="col-md-6">
            <!-- Login button -->
            <div class="text-center">
              <a role="button" class="btn btn-lg m-2 custom-pink-btn" th:href="@{/users/login}">
                Sign in
              </a>
            </div>
          </div>
        </div>
      </section>
      <!--Section: Content-->

      <hr class="my-5" />

      <!--Section: Content-->
      <section class="mb-5">

        <h4 class="mb-5 text-center"><strong>OR</strong></h4>

        <div class="row d-flex justify-content-center">
          <div class="col-md-6">
            <!-- Register button -->
            <div class="text-center">
              <p>Create a <strong><i>free</i></strong> account now and explore the world of crafty, easy and delicious temptations</p>
              <a role="button" class="btn btn-lg m-2 custom-pink-btn" th:href="@{/users/register}">
                Sign up
              </a>
            </div>
          </div>
        </div>
      </section>
      <!--Section: Content-->
    </div>
  </main>
  <!--Main layout-->

  <hr class="m-0" />

  <!--Footer-->
  <footer class="bg-light text-lg-start" th:replace="fragments/footer :: footer">
  </footer>
  <!--Footer-->

    <!-- MDB script -->
    <script type="text/javascript" src="/js/mdb.min.js"></script>
</body>

</html>