<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head">
</head>

<body>
        <!--Main Navigation-->
    <header>
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-dark d-none d-lg-block" th:replace="fragments/navbar :: navbar">
      </nav>
      <!-- Navbar -->

      <!-- Background image -->
      <div id="introHalf" class="bg-image shadow-2-strong">
        <div class="mask">
          <div class="container d-flex justify-content-center align-items-center h-100">
            <div class="text-white text-center">
              <br>
              <br>
              <h1 class="mb-3">Edit users</h1>
              <h5 class="mb-4">You want to approve or delete comments? No problem - just click the button below.</h5>
              <a class="btn btn-outline-light btn-lg m-2" role="button">Edit comments</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Background image -->
    </header>
    <!--Main Navigation-->

    <!--Main layout-->
    <main class="mt-5">
      <div class="container">
        <!--Section: Content-->
        <section class="text-center">
            <table class="table table-bordered border-dark table-striped align-middle">
                <thead>
                <tr>
                    <th scope="col">USERNAME</th>
                    <th scope="col">EMAIL</th>
                    <th scope="col">FULL NAME</th>
                    <th scope="col">GENDER</th>
                    <th scope="col">LEVEL</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="viewModel : ${viewModels}" th:object="${viewModel}">
                    <th scope="row">@<th:block th:text="*{username}"></th:block></th>
                    <td th:text="*{email}"></td>
                    <td th:text="*{fullName}"></td>
                    <td th:text="*{#strings.toLowerCase(genderEntity.genderNameEnum.name())}"></td>
                    <td th:text="*{#strings.toLowerCase(levelEntity.levelNameEnum.name())}"></td>
                    <td>
                        <form th:action="@{/users/{id}/make-admin(id=*{id})}" th:method="patch">
                            <input th:attr="disabled=*{admin} ? 'disabled' : null" type="submit" class="btn btn-success btn-md px-3" value="Make admin"/>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/users/{id}/delete(id=*{id})}" th:method="delete">
                            <input th:attr="disabled=*{id == #authentication.principal.id} ? 'disabled' : null" type="submit" class="btn btn-danger btn-md px-3" value="Delete"/>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </section>
      </div>
    </main>
    <!--Main layout-->

    <br>
    <br>
    <hr class="m-0" />

    <!--Footer-->
    <footer class="bg-light text-lg-start" th:replace="fragments/footer :: footer">
    </footer>
    <!--Footer-->

    <!-- MDB -->
    <script type="text/javascript" src="/js/mdb.min.js"></script>
</body>
</html>